body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cover-image {
    max-width: 100%;
    height: auto;
}

@media (prefers-color-scheme: dark) {
    .cover-image {
        filter: invert(1);
    }
    body {
        background-color: black;
    }
}
